@charset "utf-8";
/* CSS Document */

/* #######################*/
/* General HTML Tag Rules */
/* #######################*/



body {
	
}

/*****************/

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font-family:Arial, sans-serif;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:34px;
    height:35px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/check_radio_sheet.png) -10px -145px no-repeat;
	background-position:-10px -145px; 
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(images/check_radio_sheet.png) -10px -100px no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:34px;
    height:35px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/check_radio_sheet.png) -10px -235px no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(images/check_radio_sheet.png) -10px -190px no-repeat;
}

input[type="radio"]:disabled + label span {
	background:url(images/check_radio_sheet.png) -10px -10px no-repeat;
}

/**************/

h1, h2, h3, h4, h5, h6{
	
}

p{
	
}

a {
	
}

a:hover{
	
}

hr {
	
}

/* #############################*/
/* General Template class Rules */
/* #############################*/

.wrapOverall {
	width:1024px;
	margin:0px auto;
}

.header {
	height:110px;
	background-image:url(images/header_lining.png);
	background-position:bottom center;
	background-repeat:no-repeat;
}
.header img.logo {
	margin:22px 0px 25px 53px;
	float:left;
	border:none;
	border-image:none;
}

.navMain{
	margin:56px 60px 0px 0px;;
	padding:0px;
	float:right;
	
}

.navMain a{
	text-decoration:none;
	color:#339900;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
.navOpt{
	margin-bottom:10px;
}

/* ############*/
/* rcBox Rules */
/* ############*/


.rcBox {
	width:387px;
	font-family:Arial, Helvetica, sans-serif;
	margin:30px 0px 0px 324px;
	padding: 0px 0px 0px 0px;
	
}

#rcBox_header{
	text-decoration:none;
	color:#339900;
	font-size:18px;
	font-weight:bold;
}

.rcBox input, select{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    font-size: 18px;
    color:#000000;
    width: 378px;
    height: 35px;
    border: #c0c0c0 solid 1px;
	background-color:#FFF;
/** BORDER RADIUS HACKS **/
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.rcBox input:hover, select:hover {    
	border: 1px solid #339933;
}

.rcBox input:focus, select:focus {    
	border: 1px solid #339933;
	outline:none;
}

.error {
	color:#FF3300;
	font-size:12px;
}

.mobNo {
	margin:25px 0px 0px 0px;	
}

.mobOp{
	margin:16px 0px 0px 0px;
}

.amount{
	margin:16px 0px 0px 0px;
}

.mobNo input {
	background-image: url(images/+91.png);
    padding: 0 5px 0px 42px;
   	background-position: 7px 10px;
	background-repeat: no-repeat;
	width: 336px;
}

.mobOp select {
	width: 378px;
	padding: 0 0px 0px 10px;
}

.amount input{
	background-image: url(images/rs.png);
    padding: 0 5px 0px 38px;
   	background-position: 12px 10px;
	background-repeat: no-repeat;
	width: 340px;
}

.button{
	margin:30px 0px 0px 0px;
}
.rcBox input.button {
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:50%;
	color:#ffffff;
	text-align:center;
	border: 0px;
	
	-webkit-box-shadow:  1px 2px 1px 0px rgba(0, 0, 0, 0.4);
     box-shadow:  1px 2px 1px 0px rgba(0, 0, 0, 0.4);

	
	
	/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(54,155,52)),color-stop(1, rgb(3,100,29)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
background-image:linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
width:345px;
height:32px;
/* Firefox v1.0+ */
-moz-border-radius:8px ;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px ;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px ;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff369b34,endColorstr=#ff03641d,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff369b34,endColorstr=#ff03641d,GradientType=0);
	
}

.rcBox input.button:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#096B20;
	
	text-align:center;
	
	cursor:pointer;


	
	
	/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(191,255,207)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
width:345px;
height:32px;
/* Firefox v1.0+ */
-moz-border-radius:8px ;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px ;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px ;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffbfffcf,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffbfffcf,GradientType=0);
	
}

/* #############*/
/* rcBoxB Rules */
/* #############*/

.rcBoxB {
	width:387px;
	font-family:Arial, Helvetica, sans-serif;
	margin:30px 0px 0px 324px;
	padding: 0px 0px 0px 0px;
}

.rcBoxB input{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    font-size: 18px;
    color:#000000;
    width: 337px;
    height: 32px;
    border: #c0c0c0 solid 1px;
	background-color:#FFF;
/** BORDER RADIUS HACKS **/
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.rcBoxB input:hover{    
	border: 1px solid #339933;
}

.rcBoxB input:focus{    
	border: 1px solid #339933;
	outline:none;
}


#rcInfo {
	text-decoration:none;
	color:#339900;
	font-size:18px;
	font-weight:bold;
	margin:16px 0px 0px 0px;
}

#unsignHead{
	text-decoration:none;
	color:#339900;
	font-size:20px;
	font-weight:regular;
}

#fbconnect{
	margin:15px 0px 15px 25px;	
	font-size:20px;
	font-weight:regular;
}

.email {
	margin:15px 0px 0px 25px;	
}
.email input{
	padding: 0px 0px 0px 10px;
	width: 327px;
}
.pass{
	margin:15px 0px 0px 25px;
}
.pass input{
	padding: 0 0px 0px 10px;
	width: 327px;
}
.coupons{
	width:343px;
	margin-left:22px;
	margin-right:22px;
	padding-top:25px;
	padding-bottom:25px;
}

.payment{
	width:343px;
	margin-left:22px;
	margin-right:22px;
	padding-top:10px;
}
.payment label {
	margin:5px 0px 5px 0px;
}



.rcBoxB input.button {
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:50%;
	color:#ffffff;
	text-align:center;
	border: 0px;
	
	-webkit-box-shadow:  1px 2px 1px 0px rgba(0, 0, 0, 0.4);
     box-shadow:  1px 2px 1px 0px rgba(0, 0, 0, 0.4);

	
	
	/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(54,155,52)),color-stop(1, rgb(3,100,29)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
background-image:linear-gradient(-90deg,rgb(54,155,52) 0%,rgb(3,100,29) 100%);
width:345px;
height:32px;
/* Firefox v1.0+ */
-moz-border-radius:8px ;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px ;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px ;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff369b34,endColorstr=#ff03641d,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff369b34,endColorstr=#ff03641d,GradientType=0);
	
}

.rcBoxB input.button:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#096B20;
	
	text-align:center;
	
	cursor:pointer;


	
	
	/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(191,255,207)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(191,255,207) 100%);
width:345px;
height:32px;
/* Firefox v1.0+ */
-moz-border-radius:8px ;
/* Safari v3.0+ and by Chrome v0.2+ */
-webkit-border-radius:8px ;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
border-radius:8px ;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffbfffcf,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffbfffcf,GradientType=0);
	
}

/*################*/


.footer {
	
}


/* #########################*/
/* General Navigation Rules */
/* #########################*/

.navMain a {
	
}

.navMain a:hover {
	
}

/* ##########*/
/* Box Rules */
/* ##########*/




